<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/TCfavicon.png">
    <title>Tomás Castagnino | About</title>

    <link rel="stylesheet" href="/stylesheets/about.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  </head>

  <body class="myBody">

  <nav id="myNavbar" class="navbar fixed-top navbar-expand-sm navbar-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <i class="fas fa-home fa-2x myIcons" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#theToggler" aria-controls="theToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="theToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item icono">
            <a id="work" class="nav-link navbar-right" href="/trabajos"><strong class="myIcons">Work</strong></a>
          </li>
          <li class="nav-item icono">
            <a id="about" class="nav-link navbar-right" href="/about"><strong class="myIcons">About</strong></a>
          </li>
          <li class="nav-item icono">
            <a class="nav-link" href="https://github.com/TomCastagnino"><i class="fab fa-github fa-2x myIcons"></i></a>
          </li>
          <li class="nav-item icono">
            <a class="nav-link" href="http://www.linkedin.com/in/tomas-federico-castagnino"><i class="fab fa-linkedin fa-2x myIcons"></i></a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  
  

    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <img class="img-fluid rounded" src="images/subte.JPG"></img>
                    <p class="font-italic comentario">Evitando el agua</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-10">
              <p class="text-justify">Tomás (F.) Castagnino es desarrollador full stack, estudiante de doctorado y profesor de literatura. En su tiempo libre crea juegos en C# para Android.</p>
              <p class="text-justify">Sostiene Tomás que no suele referirse a sí mismo en tercera persona, pero que decidió que acá iba a intentarlo. ¿Por qué? Eso, a Tomás, no le resulta fácil decirlo. Quizá porque lo encontrara apropiado, quizá porque le resultara gracioso.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div>
                    <img class="imagenPeque imagenIzquierda" src="images/cat.jpg" alt="Responsive image"></img>
                    <p class="font-italic comentario">Preguntando direcciones</p>
                </div>
            </div>
            <div class="col">
                <p class="">Sostiene Tomás que le gusta trabajar con otras personas. Afirma que no le importa pedir ayuda cuando está perdido:</p>
            </div>
            <div class="col">
                <div>
                    <img class="imagenPeque imagenDerecha" src="images/tren.jpg" alt="Responsive image"></img>
                    <p class="font-italic comentario">Buscando consejo</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div>
                    <img class="imagenPeque imagenIzquierda" src="images/pedro.JPG" alt="Responsive image"></img>
                    <p class="font-italic comentario">Enseñándole a Pedro un tiro secreto</p>
                </div>
            </div>
            <div class="col">
                <p class="">Y que siempre que puede ayudar, ayuda:</p>
            </div>
            <div class="col">
                <div>
                    <img class="imagenPeque imagenDerecha" src="images/muro.JPG" alt="Responsive image"></img>
                    <p class="font-italic comentario">Bajando al gato del muro</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <p class="mail">Contacto: tcastagnino (at) gmail.com</p>
            </div>
        </div>
    </div>








  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  </body>
</html>