<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/TCfavicon.png">
    <title>Tomás Castagnino | Work</title>

    <link rel="stylesheet" href="/stylesheets/trabajos.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  </head>

  <body class="myBody">

  <nav id="myNavbar" class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <i class="fas fa-home fa-2x myIcons" aria-hidden="true"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#theToggler" aria-controls="theToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="theToggler">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item icono">
            <a id="work" class="nav-link navbar-right" href="/trabajos"><strong class="myIcons">Work</strong></a>
          </li>
          <li class="nav-item icono">
            <a id="about" class="nav-link navbar-right" href="/about"><strong class="myIcons">About</strong></a>
          </li>
          <li class="nav-item icono">
            <a class="nav-link" href="https://github.com/TomCastagnino"><i class="fab fa-github fa-2x myIcons"></i></a>
          </li>
          <li class="nav-item icono">
            <a class="nav-link" href="http://www.linkedin.com/in/tomas-federico-castagnino"><i class="fab fa-linkedin fa-2x myIcons"></i></a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container">



    <div class="grilla">

      <div  class="grilla_interna">
        
          <a id="atras" class="carousel-control-prev" href="#workCarousel" role="button" data-slide="prev">
            <i class="fas fa-angle-left fa-5x"></i>
          </a>
        
      <div id="workCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol id="indicador" class="carousel-indicators">
        <li id="qwerty" data-target="#workCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#workCarousel" data-slide-to="1"></li>
        <li data-target="#workCarousel" data-slide-to="2"></li>
        <li data-target="#workCarousel" data-slide-to="3"></li>
        <li data-target="#workCarousel" data-slide-to="4"></li>
        <li data-target="#workCarousel" data-slide-to="5"></li>
        <li data-target="#workCarousel" data-slide-to="6"></li>
        <li data-target="#workCarousel" data-slide-to="7"></li>
      </ol>
      <div class="carousel-inner">
        <div id="primero" class="carousel-item active">
          <a href="/a"><img class="d-block w-100 imagenes" src="../images/1.jpg" alt="First slide"></a>
        </div>
        <div id="segundo" class="carousel-item">
          <a href="/trabajos/b"><img class="d-block w-100 imagenes" src="../images/2.jpg" alt="Second slide"></a>
        </div>
        <div id="tercero" class="carousel-item">
          <a href="/trabajos/c"><img class="d-block w-100 imagenes" src="../images/3.jpg" alt="Third slide"></a>
        </div>
        <div id="cuarto" class="carousel-item">
          <a href="/trabajos/d"><img class="d-block w-100 imagenes" src="../images/4.jpg" alt="Fourth slide"></a>
        </div>        
        <div id="quinto" class="carousel-item">
          <a href="/trabajos/e"><img class="d-block w-100 imagenes" src="../images/5.jpg" alt="Fifth slide"></a>
        </div>        
        <div id="sexto" class="carousel-item">
          <a href="/trabajos/f"><img class="d-block w-100 imagenes" src="../images/6.jpg" alt="Sixth slide"></a>
        </div>
        <div id="septimo" class="carousel-item">
          <a href="/trabajos/g"><img class="d-block w-100 imagenes" src="../images/7.jpg" alt="Senventh slide"></a>
        </div>
        <div id="octavo" class="carousel-item">
          <a href="https://tomcastagnino.github.io/"><img class="d-block w-100 imagenes" src="../images/8.jpg" alt="Senventh slide"></a>
        </div>
      </div>

    </div>
      <a id="adelante" class="carousel-control-next" href="#workCarousel" role="button" data-slide="next">
        <i class="fas fa-angle-right fa-5x"></i>
      </a>
    

      </div>
    <p id="texto">Un sitio para compartir cervecerías. <br>{RESTful routes, base de datos, autenticación, Google APIs y Bootstrap}</p>

    </div>



  </div>







  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/js/trabajos.js" charset="utf-8"></script>

  </body>
</html>