
.myBody{
  background: #85144B;
}

#myNavbar {
  padding-top: 15px;
  background: #85144B;
}

.icono {
  padding-right: 15px;
}

#about, #work{
  font-size: larger;
}

.myIcons, p {
  color: #FF851B;
}

.comentario {
color: #cc6a15;
}


.row {
    padding:50px 0;
}

.container {
    padding-top: 1%;
}


.imagenPeque {
    max-width: 450px;
    border-bottom: solid #FF851B 3px;
}

.imagenDerecha {
  border-left: solid #FF851B 3px;
}

.imagenIzquierda {
  border-right: solid #FF851B 3px;
}

@media only screen and (max-width: 500px) {
    .imagenPeque {
        max-width: 325px;
    }
    .container {
    padding-top: 8%;
}
}

.myText {
    text-align: center;
    max-width: 300px;
}

p {
    text-align: center;
    font-size: large;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 1px;
}

.mail {
    letter-spacing: 3px;
    -webkit-animation: temblar 2s ease-in infinite;
    animation: temblar 2s ease-in infinite;
}

@keyframes temblar {
  48%, 62% {
    -webkit-transform: scale(1.0, 1.0);
            transform: scale(1.0, 1.0)
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9)
  }
  56% {
    -webkit-transform: scale(0.9, 1.1) translate(0, -5px);
            transform: scale(0.9, 1.1) translate(0, -5px)
  }
  59% {
    -webkit-transform: scale(1.0, 1.0) translate(0, -3px);
            transform: scale(1.0, 1.0) translate(0, -3px)
  }
}


@-ms-viewport{
  width: device-width;
}

