body, html {
  height: 100%;
  margin: 0;
}

.myBody{
  background: #85144B;
}

#myNavbar {
  padding-top: 15px;
  background: #85144B;
}

.icono {
  padding-right: 15px;
}

#about, #work{
  font-size: larger;
}

.myIcons, p {
  color: #FF851B;
}


.imagenes {
  border-radius: 5%;
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: 0;
}

.contenedor {
    margin-top: 5%;
    margin-bottom: 5%;
    border: solid #FF851B 2px;
}

.myImage {
    border: solid #FF851B 2px;
    border-radius: 2%;
}

.myText {
    height: 100%;
    text-align: center;
    top: 40%;
    
}


@-ms-viewport{
  width: device-width;
}