
.myBody{
  background: #85144B;
}

#myNavbar {
  padding-top: 15px;
  background: #85144B;
}

.icono {
  padding-right: 15px;
}

#about, #work{
  font-size: larger;
}

.myIcons, p {
  color: #FF851B;
}

.comentario {
color: #cc6a15;
}


.row {
    padding:50px 0;
}

.container {
    padding-top: 1%;
}


.imagenPeque {
    max-width: 450px;
    border: solid #FF851B 2px;
}

.myText {
    text-align: center;
    max-width: 300px;
}

p {
    text-align: center;
    font-size: large;
}


@-ms-viewport{
  width: device-width;
}

/*@media all and (max-width: 500px) {*/
/*  .contenedor {*/
/*    flex-direction: column;*/
/*  }*/
/*}*/