html {
  background: #EAEBF0;
}

#myNavbar {
  padding-top: 15px;
  background: #EAEBF0;
}

.icono {
  padding-right: 15px;
}

#about, #work{
  font-size: larger;
}

#myBody {
    background: #EAEBF0;
}

h1 {
    font-family: 'Inconsolata', monospace;
}

#photo {
  border: black solid 3px;
}

#gatos {
    max-width: 230px;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn {
  margin-top: 10px;
}

.container {
    padding-top: 4%;
}

@media only screen and (max-width: 800px) {
    #photo {
        max-width: 300px;
    }
    .container {
    padding-top: 7%;
    padding-bottom: 10%;
}
}

@-ms-viewport{
  width: device-width;
}
