.thumbnail img{
    width: 100%;
}

.delete-form {
    display: inline;
}

body {
    width: 100%;
    height: 100%;
    background: #0B486B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, #F56217, #0B486B);
    background: -moz-linear-gradient(bottom, #F56217, #0B486B);
    background: -o-linear-gradient(bottom, #F56217, #0B486B);
    background: linear-gradient(to top, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}                            

#myNavbar {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, #CFDEF3, #E0EAFC);
    background: -moz-linear-gradient(bottom, #CFDEF3, #E0EAFC);
    background: -o-linear-gradient(bottom, #CFDEF3, #E0EAFC);
    background: linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myJumbotron {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(bottom, #CFDEF3, #E0EAFC);
    background: -moz-linear-gradient(bottom, #CFDEF3, #E0EAFC);
    background: -o-linear-gradient(bottom, #CFDEF3, #E0EAFC);
    background: linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}