.texto {
    font-weight: bold;
    color: black;
}


#foto {
    margin: 55px auto;
}

#contenedor {
    padding: 62px 0;
}

#myBody {
    width: 100%;
    height: 100%;
    background: #525252;  
    background: -webkit-linear-gradient(to left, #3d72b4, #525252); 
    background: linear-gradient(to left, #3d72b4, #525252);
}

.ui segment {
    background-color: red;
}

.myIcons {
    top: 0;
    left: 0;
    padding-top: 1.5%;
    padding-left: 1.5%;
    color: white;
    transform: scale(1.3);
}

