
html { 
  background: url("/images/cinema.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type=text] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    position: absolute;
    top: 46%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: larger;
    font-family: Courier New, monospace, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: italic
}

.myIcons {
    top: 0;
    left: 0;
    padding-top: 1.5%;
    padding-left: 1.5%;
    color: white;
    transform: scale(1.3);
}