body, html {
  height: 100%;
  margin: 0;
}

.myBody{
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myNavbar {
  padding-top: 15px;
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icono {
  padding-right: 15px;
}

#about, #work{
  font-size: larger;
}

.myIcons {
  color: white;
}

.home {
  transform: scale(1.3);
}

.grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25%;
  flex-direction: column;
}

.imagenes {
  border-radius: 5%;
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#texto {
  font-family: Courier New, Georgia, serif;
  font-size: larger;
  width: 50%;
  margin: 0;
  padding-top: 50px;
  border: 0;
  text-align: center;
  color: white;
  animation: blur-text 15s infinite ease-in;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.grilla_interna {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#atras {
  position: relative;
  color: white;
  padding-right: 5%;
}

#adelante {
  position: relative;
  color: white;
  padding-left: 5%;
}

#indicador {
  top: 105%;
}