body, html {
  height: 100%;
  margin: 0;
}

.myBody{
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myNavbar {
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.icono {
  padding-right: 15px;
}

.myIcons {
  color: white;
}

.grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

img {
  border-radius: 10%;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}