body, html {
  height: 100%;
  margin: 0;
}

.myBody{
  background: #85144B;
}

#myNavbar {
  padding-top: 15px;
  background: #85144B;
}

.icono {
  padding-right: 15px;
}

#about, #work{
  font-size: larger;
}

.myIcons {
  color: #FF851B;
}

.grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22%;
  flex-direction: column;
}

.imagenes {
  border-radius: 5%;
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: 0;
}



#texto {
  font-family: Courier New, Georgia, serif;
  font-size: larger;
  width: 50%;
  margin: 0;
  padding-top: 85px;
  border: 0;
  text-align: center;
  color: #FF851B;
  animation: blur-text 15s infinite ease-in;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.grilla_interna {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#atras {
  position: relative;
  color: #FF851B;
  padding-right: 5%;
}

#adelante {
  position: relative;
  color: #FF851B;
  padding-left: 5%;
}

#indicador {
  top: 107%;
  background: #1a040f;
}

#indicador .active {
  background: #FF851B;
}

#workCarousel {
  border: solid #FF851B 3px;
  border-radius: 5%;
  box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.57);
  -webkit-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.57);
  -moz-box-shadow: 10px 10px 10px -1px rgba(0,0,0,0.57);
}

.carousel-fade .carousel-item {
  opacity: 1;
  transition: opacity;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}

@-ms-viewport{
  width: device-width;
}