<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <link rel="icon" href="/images/TCfavicon.png">
        <title>Tomas Castagnino - {trabajos}</title>
    
        <link rel="stylesheet" href="/stylesheets/movieResults.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    </head>
    
    <body>
    

        <div class ="container">
            
        
        
        <h1>Results Page</h1>
        
        <div class="row text-center" >
            
        <% if (data["Search"] !== undefined) { %>
        <% data["Search"].forEach(function(movie) { %>
        
 
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="card border-dark mb-3 bg-light" style="max-width: 18rem;">
                      <image class=".img-fluid card-img-top" src="<%= movie["Poster"] %>" style=" max-height: 20rem;"></image>
                      <div class="card-header">
                          <%= movie["Title"]%>
                      </div>
                      <div class="card-body text-secondary">
                            <h6class="card-title">Year: <%=movie["Year"] %> </h6>
                            <p class="card-text"></p>
                            <a href="/a/birrerias/<%= %>" class="btn btn-primary">Más Info</a>
                      </div>
                    </div>
                </div>

        <% }); %>
        
        <% } else {%>
        <h2>Movie not found!</h2>
        
        <% }%>
        
        </div>

        </div>

    </body>
</html>
