<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/TCfavicon.png">
    <title>Tomas Castagnino - Movies</title>
    <link rel="stylesheet" href="/stylesheets/movieSearch.css">
  </head>
  <body>
    <a class="" href="/">
        <i aria-hidden="true"><img class="myIcons" src="/images/home(6).png"></i>
    </a>
    <form action="/trabajos/d/results" method="GET">
        <input type="text" placeholder="Search for a movie..." name="search">
    </form>
  </body>
</html>

